<html>
  {% extends 'base.html' %} {% block pagetitle %} AI Engine {% endblock
  pagetitle %} {% block body %}
  <style></style>
  <div
    style="background-color: background: rgb(16,163,12);
background: linear-gradient(90deg, rgba(16,163,12,0.6908263305322129) 35%, rgba(1,87,11,0.8700980392156863) 100%);"
  >
    <div class="container">
      <!-- For demo purpose -->
      <div class="row mb-5 text-center text-white">
        <div class="col-lg-10 mx-auto">
          <h1
            class="display-4"
            style="padding-top: 2%; font-weight: 400; color: rgb(4, 54, 4)"
          >
            <b>🍀 LeafScan.Ai 🍀</b>
          </h1>
          <p class="lead" style="font-weight: 500; color: black">
            Let AI Engine Will Help You To Detect Disease
          </p>
        </div>
      </div>
      <!-- End -->
      <div class="row">
        <div class="col mx-auto">
          <div class="p-5 bg-white shadow rounded-lg" style="height: 95%">
            <h5><b>Why is it necessary to detect disease in plant ?</b></h5>
            <p>
              Plant diseases affect the growth of their respective species. In
              addition, some research gaps are identified from which to obtain
              greater transparency for detecting diseases in plants, even before
              their symptoms appear clearly. diagnosis is one of the most
              important aspects of a plant pathologist's training. Without
              proper identification of the disease and the disease-causing
              agent, disease control measures can be a waste of time and money
              and can lead to further plant losses. Proper disease diagnosis is
              necessary.
            </p>
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8003093/#:~:text=Thus%2C%20an%20early%20detection%20of,2%2C3%2C4%5D." class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Read More</a>
          </div>
        </div>
        <div class="col mx-auto">
          <div class="p-5 bg-white shadow rounded-lg" style="height: 95%">
            <img
              src="../static/img/transparent-architecture-tree-peaceful-blue-tree-in-tranquil-black-background65c70407d7c1e3.4675565117075415118838.png"
              height="300"
              alt=""
              width="200"
              class="d-block mx-auto mb-4 rounded-pill"
            />

            <!-- Default bootstrap file upload-->

            <form action="/submit" method="POST" enctype="multipart/form-data">
                <div class="custom-file overflow-hidden mb-4">
                    <input type="file" id="actual-btn" hidden name="image" />
                    <button style="align-items: center; display: flex; margin: auto;" type="button" class="btn btn-outline-secondary"><label for="actual-btn">Choose File</label></button>
                    <!-- <label for="actual-btn">Choose File</label> -->
                    <span id="file-chosen">No file chosen</span>
                </div>

              <!-- End -->

              <h6 class="text-center mb-4 text-muted">
                Simply upload your plant's leaf image and then see the magic of
                AI.
              </h6>

              <!-- Custom bootstrap upload file-->
              <center>
                <a class="mx-2"
                  ><button type="submit" class="btn btn-success ">
                    Submit
                  </button></a
                >
              </center>
            </form>
            <!-- End -->
          </div>
        </div>
        <div class="col mx-auto">
          <div class="p-5 bg-white shadow rounded-lg" style="height: 95%">
            <h5><b>Prevent Plant Disease follow below steps:</b></h5>
            <ol>
              <li>Follow Good Sanitation Practices.</li>
              <li>Fertilize to Keep Your Plants Healthy.</li>
              <li>Inspect Plants for Diseases Before You Bring Them Home.</li>
              <li>Allow the Soil to Warm Before Planting.</li>
              <li>Ensure a Healthy Vegetable Garden By Rotating Crops.</li>
              <li>Provide Good Air Circulation</li>
              <li>Remove Diseased Stems and Foliage</li>
            </ol>
            <a
              target="_blank"
              href="https://www.thespruce.com/prevent-plant-diseases-in-your-garden-2539511"
              class="mx-2"
              ><button type="button" class="btn btn-outline-success">
                More info
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const actualBtn = document.getElementById("actual-btn");

    const fileChosen = document.getElementById("file-chosen");

    actualBtn.addEventListener("change", function () {
      fileChosen.textContent = this.files[0].name;
    });
  </script>

  {% endblock body %}
</html>
